<section class="aboutUs" style="">
    {% include 'nav.html.twig' %}
    <section class="sectionAboutUs">
        <div class="divPictureOne">
            <div class="pictureOne">
                <img class="pictureSizes element" src="{{ asset('pictures/LeRecifPistilMedusa.jpg') }}" alt="Le Recif Pistil Medusa" />
            </div>
        </div>
        <div class="divPictureTwo">
            <div class="pictureTwo">
                <img class="pictureSizes element" src="{{ asset('pictures/LeRECIF_malmousque.jpg') }}" alt="Le Recif Pistil Medusa" />
            </div>
        </div>
        <div class="divPictureThree">
            <div class="pictureThree">
                <div class="txtDivPictureThree">
                    <div  style="text-align: center!important;"><span class="spanAboutUs creepster-regular element">à propos</span></div><br>
                    <div style="text-align: center">
                        <div class="element">Le Récif est une collection de lampes inspirée par
                            les fonds marins, dessinée et fabriquée par Julien
                            Blatteau, architecte & designer à Marseille.
                            Les lampes sont réalisées à la découpe laser dans
                            les ateliers de MakeIt Marseille, et colorées grâce
                            aux peintures Vacquier, entreprise historique du
                            Vieux-Port depuis 1835.</div>
                    </div>
                </div>
                <img class="pictureSizes element" src="{{ asset('pictures/DpNoaillesPers.jpg') }}" alt="Le Recif Pistil Medusa" />

            </div>
        </div>
    </section>
</section>
