<nav class="navbar" style="">
        <a href="#" class="navElements">À propos</a>
        <a href="#" class="navElements">Tutoriel</a>
        <a href="#" class="navElements">Boutique</a>
        <a href="#" class="navElements">Le Récif</a>
        <div  class="" style="display: flex; gap: 30px;">
            <a href="#" class=""><i id="enveloppe" style="font-size: 50px" class="fa-regular fa-envelope"></i></a>
        </div>
</nav>
